---
import "./allPostsWork.scss"
// import "./allPostsOpinion.scss"

import FormattedDate from '../FormattedDate.astro';
import NextPage from "./NextPage.astro";
import Tags from "./Tags.astro";

import { getLangFromUrl} from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
.sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<Tags />
<ul class="work">
	{
		posts.map((post) => (
			<li>
				<a href={`/${post.slug}`}>

					<div class="img-type">
						<img class="main-img" src={post.data.heroImage} alt="img" />
						<span class={`type ${post.data.type.toLowerCase()}`}>{post.data.type.toUpperCase()}</span>
					</div>

					<div class="text">
						<span class="date">
							· <FormattedDate date={post.data.pubDate} />
						</span>
						<h3 class="title">{post.data.title}</h3>
						<p class="desc">
							{post.body}
						</p>
						<div class="bottom">
							<span class="tags">{post.data.tags}</span>
							<img class="right" src="/icons/main-arrow.svg" alt="arrow" width="16px" height="15px" />
						</div>
					</div>
				</a>
			</li>
		))
	}
</ul>
<NextPage />

<!-- <div class="spacer">
	<ul class="opinion">
		{
			postsOpinions.map((post) => (
				<li>
					<a href={`/${post.slug}`}>
						<img src={post.data.heroImage} alt="img" />

						<div class="text">
							<span class="date">
								· <FormattedDate date={post.data.pubDate} />
							</span>
							<h3 class="title">{post.data.title}</h3>
							<p class="desc">
								{post.body}
							</p>
							<div class="bottom">
								<span class="tags">{post.data.tags}</span>
								<span class="right">O</span>
							</div>
						</div>
					</a>
				</li>
			))
		}
	</ul>
	<DCard />
</div> -->