---
import "./allPostsWork.scss"
// import "./allPostsOpinion.scss"

import FormattedDate from '../FormattedDate.astro';
import NextPage from "./NextPage.astro";
import Tags from "./Tags.astro";

import { getLangFromUrl} from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);

import { getCollection } from 'astro:content';
import LastPost from "./LastPost.astro";
import LastVideo from "./LastVideo.astro";

const posts = (await getCollection('blog'))
.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<div class="newPosts">
	<LastPost />
	<LastVideo />
</div>

<Tags />
<ul class="work">
	{
		posts.map((post) => (
			<li>
				<a href={`/${post.slug}`}>

					<div class="img-type">
						<img class="main-img" src={post.data.heroImage} alt="img" />
						<span class={`type ${post.data.type.toLowerCase()}`}>{post.data.type.toUpperCase()}</span>
					</div>

					<div class="text">
						<span class="date">
							· <FormattedDate date={post.data.pubDate} />
						</span>
						<h3 class="title">{post.data.title}</h3>
						<p class="desc">
							{post.body}
						</p>
						<div class="bottom">
							<span class="tags">{post.data.tags}</span>
							<img class="right" src="/icons/main-arrow.svg" alt="arrow" width="16px" height="15px" />
						</div>
					</div>
				</a>
			</li>
		))
	}
</ul>
<NextPage />

