---
import "./allPostsWork.scss"

import FormattedDate from '../FormattedDate.astro';
import Tags from "./Tags.astro";
import LastPost from "./LastPost.astro";
import LastVideo from "./LastVideo.astro";

import { getCollection } from 'astro:content';
const posts = (await getCollection('blog'))
.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

let nbPages: number[] = [];
var a = 1
for (let i = 0; i < posts.length; i+=6) {
	nbPages.push(a)
	a += 1
}

let myDebut = 0
let myFin = 6

---

<script>
	// mettre les num de slice en variable et changer quand on clique sur les button 
	// début : 6* n-1
	// fin : début + 6

	// Suppose que buttons est un tableau d'éléments boutons
	const buttonsChange = document.querySelectorAll('[data-buttonChange]');

	buttonsChange.forEach((eachButtonChange, index) => {
			eachButtonChange.addEventListener('click', () => {
					// Utilisez la formule précédente pour calculer la plage en fonction de l'index
					const debut = 6 * (index) ;
					const fin = debut + 6; 

					// Faites quelque chose avec la plage calculée
					console.log(`Bouton ${index + 1} cliqué. Plage d'indices : ${debut} à ${fin}`);
					
					// Ajoutez ici le code pour manipuler la plage d'indices dans votre tableau

					
			});
	});

</script>


<div class="newPosts">
	<LastPost />
	<LastVideo />
</div>

<Tags />

<ul class="work">
	{
		posts
		.slice(myDebut, myFin)
		.map((post) => (
			<li>
				<a href={`/${post.slug}`}>

					<div class="img-type">
						<img class="main-img" src={post.data.heroImage} alt="img" />
						<span class={`type ${post.data.type.toLowerCase()}`}>{post.data.type.toUpperCase()}</span>
					</div>

					<div class="text">
						<span class="date">
							· <FormattedDate date={post.data.pubDate} />
						</span>
						<h3 class="title">{post.data.title}</h3>
						<p class="desc">
							{post.body}
						</p>
						<div class="bottom">
							<span class="tags">{post.data.tags}</span>
							<img class="right svg-a-colorier" src="/icons/main-arrow.svg" alt="arrow" width="16px" height="15px" />
						</div>
					</div>
				</a>
			</li>
		))
	}
</ul>

<div class="nextPage">
	{
		nbPages.map((page: unknown) => (
			<button data-buttonChange>{page}</button>
		))
	}
	<!-- <button class="fleche">→</button> -->
</div>

