---
import "./lastVideo.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const response = await fetch('https://www.googleapis.com/youtube/v3/videos?id=7MQDiXPmbtY&key=AIzaSyCl7q3lbuvDV1hKdpAVuUTkkWUv1zYlBBc&part=snippet,statistics');
// ------------------------------------------------- mettre l'id de la video ici ^^^^^^ -------------------------------------
// l'id de la video => dans l'url
const data = await response.json();

---	

<a href=`https://www.youtube.com/watch/${data.items[0].id}` target="_blank" rel="noopener noreferrer" class="lastVideo">

	<div class="titre">
		<h3>{t('video.title1')}</h3>
		<h3>{t('video.title2')}</h3>	
	</div>

	<div class="container-video">
			<img src={data.items[0].snippet.thumbnails.high.url} alt="thumbnail" class="thumbnail">

		<div class="info">
				<img src="/logo.png" alt="main-logo">
			<div>
				<h4>{data.items[0].snippet.title}</h4>
				<p>{data.items[0].statistics.viewCount} {t('video.view')} · {data.items[0].snippet.publishedAt}</p>
			</div>
		</div>

		<p class="descri">{data.items[0].snippet.description}</p>
	</div>

	<div class="bottom">
			<img class="right svg-a-colorier" src="/icons/main-arrow.svg" alt="arrow" width="16px" height="15px" />
	</div>

</a>
