---

import "../blogIndex.scss"
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/navbar/Header.astro';
import Footer from '../../components/footer/Footer.astro';
import Retour from "../../components/footer/Retour.astro";

import Kit from "../../components/accueil/Kit.astro";
import Carrousel from "../../components/accueil/Carrousel.astro";

import LastPost from "../../components/accueil/LastPost.astro";
import LastVideo from "../../components/accueil/LastVideo.astro";

import ContainerPostsJsx from "../../components/postsJsx/ContainerPostsJsx";

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getLangFromUrl } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);

import { getCollection } from 'astro:content';

// IMPORT LES POSTS
const allPosts = (await getCollection('blog'))
.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// IMPORT LES TAGS
const allTags = (await getCollection('blog'))
.map((eachPost) => (
		eachPost.data.tags
	)
);

function filtrerHashtagsUniques(tableau) {
  const hashtagsUniques = new Set();

  tableau.forEach(element => {
    const hashtags = element.split(', ');
    hashtags.forEach(hashtag => {
      hashtagsUniques.add(hashtag);
    });
  });

  const tableauHashtagsUniques = [...hashtagsUniques];
  return tableauHashtagsUniques;
}
const hashtagsUniques = filtrerHashtagsUniques(allTags);

---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body>
		<Header />
		<Retour />
		<main>
			<Kit />
			<Carrousel length={allPosts.length}/>

			<div class="newPosts">
				<LastPost />
				<LastVideo />
			</div>

			<ContainerPostsJsx allPosts={allPosts} allTags={hashtagsUniques} lang={lang} client:load/>

		</main>
		<Footer />
	</body>
</html>